 /* FOOTER */
.footer {
    background-color: var(--Basecolor);
    padding: 64px 0;
    margin-top: 64px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 14px;
    color: var(--Primary);
    margin-bottom: 32px;
    flex-wrap: wrap;
}

.footer-nav a {
    text-decoration: none;
    color: var(--Primary);
    display: flex;
    align-items: center;
}
        
.footer-nav a:hover {
    color: var(--Secondary);
}

.footer-logo {
    text-align: center;
}

.footer-logo p {
    font-size: 13px;
    color: var(--Primary);
    margin-top: 0px;
}


        
    /* TABLET VIEW */
@media (max-width: 992px) {

    /* FOOTER */
    .footer-nav{
        width: 100vw;
        gap: 50px;
        margin-bottom: 0px;
    }

    .footer-nav a{
        font-size: 15px;
    }

    .footer-logo img{
        width: 190px;
        margin-bottom: 0px;
    }
    
    .footer-logo p{
        margin-top: 0px;
    }
}

    /* MOBILE VIEW */
@media (max-width: 600px) {

    /* FOOTER */
    .footer-nav{
        /* width: 100vw; */
        gap: 15px;
        margin-bottom: 0px;
    }

    .footer-nav a{
        font-size: 8px;
    }

    .footer-logo img{
        width: 190px;
        margin-bottom: 0px;
    }
    
    .footer-logo p{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}