.container {
            max-width: 1280px;
            margin: 0px auto;
            padding: 0px auto;
}

/* HEADER AND NAVIGATION BAR */
.header {
    padding-top: 30px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
        
.top-rightnavicon{
    margin-right: 10px;
    cursor: pointer;
}
.search-icon{
    margin-left: 10px;
}
.bottom-header {
    background-color: var(--Secondary); 
}
.nav-links {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 16px;
    padding-top: 16px;
    overflow-x: auto;
    
}

.nav-links a {
    font-family: var(--font-poppins);
    text-decoration: none;
    color: black;
    font-size: medium;
    transition: color 0.2s;
}

.nav-links a:hover {
    color: var(--Primary);
}


/* TABLET VIEW */
@media (max-width: 992px) {
    .top-header {
        justify-content: center;
        align-items: center;
        gap: 150px;
        /* width: 100vw; */
        padding: 0 20px;
    }

    .search-icon{
        width: 50px;
        height: 50px;
    }

    .logoimg {
        width: 300px;
    }

    .top-rightnavicon img {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }

    .nav-links {
        flex-wrap: wrap;
        /* width: 100vw; */
        gap: 40px;
        padding: 10px;
        justify-content: center;
    }

    .nav-links a {
        font-size: 14px;
    }

}

    /* MOBILE VIEW */
@media (max-width: 600px) {
   
    .top-header {
        justify-content: center;
        align-items: center;
        gap: 25px;
        /* width: 100vw; */
    }

    .search-icon{
        width: 50px;
        height: 50px;
    }

    .logoimg {
        width: 150px;
    }

    .top-rightnavicon img {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }

    .nav-links {
        flex-wrap: wrap;
        /* width: 100vw; */
        gap: 15px;
        font-size: 8px;
        padding: 10px;
        justify-content: center;
    }

    .nav-links a {
        font-size: 8px;
    }
}
