body{
    font-family: 'Poppins' ;
    background-color:white;
    margin: 0;
    padding: 0;
    color:black;
}

.container{
   max-width: 1280px;
    margin: 0px auto;
    padding:0 auto;
}



main{
    width:85%;
    margin: 60px auto;
}

.intro h2{
    font-family: 'Playfair Display';
    font-weight:600 ;
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
    color:black
}

.intro p{
    text-align: center;
    max-width: 800px;
    margin: auto;
}
.origin h3{
    font-family: 'Playfair Display';
    font-weight:600;
}

.timeline h3{
    font-family: 'Playfair Display';
    font-weight:600;
}

.origin , .timeline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
    gap: 40px;
}

.origin .image {
    width: 40%;
    height: 200px;
    background-color: #d9d9d9;
    border-radius: 8px;
}

 .timeline .image{
    width: 40%;
    height: 350px;
    background-color: #d9d9d9;
    border-radius: 8px;
}



.origin .text , .timeline .text{
    width:50%;
}

.materials h3{
    font-family: 'Playfair Display';
    font-weight:600;
    text-align: left;
    margin-top: 60px;
}

.materials p{
    max-width: 800px;
}

