body{
    font-family: 'Poppins' ;
    background-color:white;
    margin: 0;
    padding: 0;
    color:black;
}

.container{
   max-width: 1280px;
    margin: 0px auto;
    padding:0 auto;
}



main{
    width:85%;
    margin: 60px auto;
}

.intro h2{
    font-family: 'Playfair Display';
    font-weight:600 ;
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
    color:black
}

.intro p{
    text-align: center;
    max-width: 800px;
    margin: auto;
}
.origin h3{
    font-family: 'Playfair Display';
    font-weight:600;
}

.timeline h3{
    font-family: 'Playfair Display';
    font-weight:600;
}

.origin , .timeline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
    gap: 40px;
}

.origin .image {
    width: 40%;
    height: 200px;
    background-color: #d9d9d9;
    border-radius: 8px;
}

 .timeline .image{
    width: 40%;
    height: 350px;
    background-color: #d9d9d9;
    border-radius: 8px;
}



.origin .text , .timeline .text{
    width:50%;
}

.materials h3{
    font-family: 'Playfair Display';
    font-weight:600;
    text-align: left;
    margin-top: 60px;
}

.materials p{
    max-width: 800px;
}



@media(max-width:1024px){


        .origin , .timeline{
            gap: 25px;
        }

        .origin .image , .timeline .image{
            width: 30%;
           
            height: 220px;
        }

        main{
            width: 90%;
        }
        
    }

@media (max-width:768px){

    main{
        width: 90%;
        margin: 40px auto;
    }

    .intro h2{
        font-size: 22px;
    }

    .intro p{
        font-size: 14px;
        line-height: 1.5;
    }

    .origin , .timeline{
        display: flex  !important;
        flex-direction: column !important;
        align-items: center !important;
        text-align: center;
        gap:20px;
    }

    .origin .text , .timeline .text{
        width: 100% !important;
       
    }

    .origin .image , .timeline .image{
        width: 100% !important;
        height: 200px!important;
        
    }
    .timeline .image{
        order: 1;
    }

 

    .origin h3,.timeline h3{
        font-size: 18px;
        margin-bottom: 8px;
    }

    .timeline ul{
        list-style: none;
        padding-left: 0;
    }

    .timeline li{
        font-size: 14px;
        margin-bottom: 6px;
    }

    .materials{
        text-align: center;
        margin-top: 40px;
    }

    .materials h3{
        font-size: 18px;
    }

    .materials p{
        font-size: 14px;
        margin: 0 auto;
    }

    }

@media(max-width:480px){
    body{
        font-size: 14px;
    }

    .intro h2{
        font-size: 20px;
    }

    .origin.image , .timeline.image{
        height: 180px;
    }

    .timeline li{
        font-size: 13px;
    }

   

}




    


