.customize-section {
    padding-top: 60px;
    padding-bottom: 60px;
}
        
.customize-subtitle {
    font-size: 16px;
    color: #666;
    text-align: center;
    font-family: var(--font-poppins);
    margin-bottom: 50px;
    margin-top: 0px;
}
.typesoforder{
    font-family: var(--font-playfairdisplay);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.order-options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px 80px;
    max-width: 600px;
    margin: 0 auto 50px auto;
}

/* RADIO BUTTONS */
.radio-option {
    display: flex;
    align-items: center;
    font-family: var(--font-poppins);
    font-size: 1rem;
    color: black;
    cursor: pointer;
}

.radio-option input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #999;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    transition: border-color 0.2s;
}

.radio-option input[type="radio"]:checked {
    border-color: var(--Primary);
    background-color: var(--Primary);
}


/* NEXT STEP BUTTON */
.btn-proceed {
    display: block;
    background-color: var(--Primary);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--font-playfairdisplay);
    font-size: 16px;
    margin: 0 auto;
    transition: background-color 0.2s;
}

.btn-proceed:hover {
    background-color: var(--Seondary);
    color: var(--Primary);
}
