.customize-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.customize-subtitle {
    font-size: 16px;
    color: #666;
    text-align: center;
    font-family: var(--font-poppins);
    margin-bottom: 50px;
    margin-top: 0px;
}

/* MAIN GRID */
.content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.form-box {
    background-color: var(--accent-1);
    padding: 30px;
    border-radius: 10px;
    
}

form label {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    color: black;
}

form select,
form input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    font-family: var(--font-poppins);
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 7px;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.radio-group label {
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #333;
}

.radio-group input[type="radio"] {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 2px solid #999;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    background-color: white;
}

.radio-group input[type="radio"]:checked {
    border-color: var(--Primary);
    background-color: var(--Primary);
}


.total-summary {
    padding: 30px;
    background-color: var(--accent-1);
    border-radius: 10px;
    height: fit-content;
}

.summary-title {
    font-family: var(--font-playfairdisplay);
    font-size: 19px;
    font-weight: 700;
    color: black;
    margin-top: 0;
    margin-bottom: 20px;
}

.total-summary p{
display: flex;
justify-content: space-between;
margin: 8px 0;
}

.total-summary .total{
font-weight: 600;
font-size: 18px;
}


.btn-next-step {
    background-color: var(--Primary);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--font-playfairdisplay);
    font-size: 16px;
    width: 100%;
    transition: background-color 0.2s;
    margin-top: 20px;
}

.btn-next-step:hover { background-color: var(--Secondary); 
    color: var(--Primary);
}



    /* TABLET VIEW */
@media (max-width: 992px) {
.section-title{
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}

.customize-subtitle {
    font-size: 12px;
}

.progress-bar::before {
width: 70vw;
margin-left: 55px;
top: 13%;
}

.progress-bar{
    gap: 12px;
}
.step {
    font-size: 12px;
}
.content-grid {
    grid-template-columns: 1fr;
    max-width: 700px;
}

}

/* MOBILE VIEW */
@media (max-width: 600px) {

.section-title{
font-size: 22px;
font-weight: 600;
margin-top: 20px;
margin-bottom: 20px;
}

.progress-bar::before {
width: 70vw;
margin-left: 30px;
top: 13%;
}

.progress-bar{
gap: 12px;
}
.step {
font-size: 10px;
}
.content-grid {
grid-template-columns: 1fr;
max-width: 500px;
}
}

@media (993px <= width <= 1024px){
.progress-bar::before {
width: 70vw;
margin-left: 82px;
top: 13%;
}

}
