         /* HERO BANNER */
        .hero-section {
            position: relative;
            max-width: 100%;
            overflow: hidden;
            margin-top: 0px;
            margin-bottom: 64px;
        }
        .herobanner {
            width: 100vw;
            height: auto;
            display: block;

        }

        .hero-content {
            position: absolute; 
            z-index: 2;
            bottom: 2vw; 
            right: 10vw;
            padding: 0; 
        }

        .btn-customize {
            background-color: var(--CTA);
            color: white;
            border: none;
            text-decoration: none;
            padding: 10px 24px;
            font-family: var(--font-playfairdisplay);
            font-size: 22px;
            border-radius: 7px;
            cursor: pointer;
            box-shadow: #91919159;
            transition: background-color 0.3s;
            
        }

        .btn-customize:hover {
            background-color: #c5978a;
        }

        .collection-grid {
            grid-template-columns: repeat(3, 1fr);
            display: grid;
            gap: 15px;
        }

        .collection-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
         
        .collection-image-container{
            width: 100%;
            aspect-ratio: 1 / 1; 
            overflow: hidden;
            border-radius: 10px;
            box-shadow:none;
            margin-bottom: 12px;
        }

        .collection-name {
            text-align: center;
            font-weight: 500;
        }

        .products-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);  /*4 columns 1fr each*/
            gap: 20px;
        }
        
        /* .product-box {
            text-decoration: none;
        }

        .product-image{
            width: 100%;
            aspect-ratio: 280 / 330; 
            object-fit: cover;
            border-radius: 8px;
            box-shadow: none; 
            margin-bottom: 5px;
            transition: transform 0.15s ease-out;
        }

        .product-image:hover{
            transform: scale(1.03);
        }

        .product-details {
            display: flex;
            justify-content: space-between;
            color: black;
        }

        .product-name{
            margin: 0;
            font-size: 15px;
        }
        
        .price {
            font-size: 15px;
            margin: 5px;
            color: black;
        }

        .icon-bag {
            cursor: pointer;
            width: 20px;
            height: 20px;
        } */
