.customize-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p{
    font-family: var(--font-poppins);
    font-size: 14px;
    color: #888;
    text-align: center;
    margin-bottom: 10px;
}

.btn-cont-shop{
    background-color: var(--Primary);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--font-playfairdisplay);
    font-size: 16px;
    width: 50;
    transition: background-color 0.2s;
    
}

.btn-cont-shop:hover { background-color: var(--Secondary);
    color: var(--Primary);    
}