.customize-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p{
    font-family: var(--font-poppins);
    font-size: 14px;
    color: #888;
    text-align: center;
    margin-bottom: 10px;
}

.btn-cont-shop{
    background-color: var(--Primary);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--font-playfairdisplay);
    font-size: 16px;
    width: 50;
    transition: background-color 0.2s;
    
}

.btn-cont-shop:hover { background-color: var(--Secondary);
    color: var(--Primary);    
}

  

    /* TABLET VIEW */
@media (max-width: 992px) {
    .section-title{
        font-size: 22px;
        font-weight: 600;
        margin-top: 10px;
    }

    .customize-subtitle {
        font-size: 12px;
    }

    .progress-bar::before {
    width: 70vw;
    margin-left: 55px;
    top: 13%;
    }

    .progress-bar{
        gap: 12px;
    }
    .step {
        font-size: 12px;
    }
}

/* MOBILE VIEW */
@media (max-width: 600px) {

.section-title{
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.progress-bar::before {
    width: 70vw;
    margin-left: 30px;
    top: 13%;
}

.progress-bar{
    gap: 12px;
}
.step {
    font-size: 10px;
}

}


@media (993px <= width <= 1024px){
    .progress-bar::before {
    width: 70vw;
    margin-left: 82px;
    top: 13%;
    }

}
