

.customize-sectionn{
    text-align: center;
    margin: 60px auto 100px;
    padding: 20px;
}



.content p{
    font-size: 16px;
    color: #444;
    margin-bottom: 30px;
}

.btn-cont-shop{
    background-color: #1A4359;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.btn-cont-shop:hover{
    background-color: #A7C3C6;
    color: #1A4359;
}



@media(max-width: 1024px){
    
    

    main{
        width: 90%;
    }

    .section-title{
        font-size: 28px;
    }

    .content p{
        font-size: 15px;
    }

  
}

@media(max-width: 768px){



   

    .section-title{
        font-size: 26px;
    }

    .btn-cont-shop{
        width: 100%;
        font-size: 15px;
    }



}

@media(max-width:480px){
    


    .section-title{
        font-size: 20px;
    }

    .content p{
        font-size: 14px;
    }

    .btn-cont-shop{
        font-size: 14px;
        padding: 10px 20px;
    }

    
}





        