:root {
    --Primary: #1A4359;
    --Secondary: #A7C3C6;
    --Basecolor: #DAE3E0;
    --accent-1: #F5EBEC;
    --accent-2: #E0D1D4 ;
    --CTA: #D4A598;
    --font-poppins: 'Poppins';  
    --font-playfairdisplay: 'Playfair Display';
}

 body {
            font-family: var(--font-poppins);
            color: black;
            margin: 0;
            background-color: white;
}

.container {
            max-width: 1280px;
            margin: 0px auto;
}

.section-title {
            font-family: var(--font-playfairdisplay);
            font-size: 32px;
            font-weight: 600;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;
}
